/* General */
body {
    margin: 0 !important;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0 !important;
    padding-left: 0 !important;
}

/* Nav */
.nav-items a{
    padding: 15px;
    letter-spacing: 1px;
}

/* Home - Hero */
.slide--hero-wrapper {
    background: linear-gradient(180deg,#071e3d,rgba(7,30,61,.4) 40%);
    height: 100.5%;
    max-width: unset!important;
    top: -3px;
}

/* Swiper override */
.swiper-pagination-bullet-active {
    background: #21e6c1!important;
}

.swiper-pagination-bullet {
    border-radius: 2px!important;
    height: 3px!important;
    width: 40px!important;
}